$textcolor-active: #d6d7d8;
$textcolor-greenbg: #ffffff;
$textcolor-oldprice: #888888;
$textcolor-content: #b0aeac;
$textcolor-metascore: #8BC53F;
$textcolor-columns:#B0AEAC;

$background-green: #4c6b22;
$background-content: black;//#262626;
$background-header: #3C3D3E;
$background-row-even: #1f1f1f;
$background-row-odd: #1a1a1a;
$background-column: #262626;

$font-family: tahoma, helvetica, arial, trebuchet ms, sans-serif; 
