* {
  margin: 0;
  padding: 0; }

html {
  background: black;
  color: #b0aeac;
  font-family: tahoma, helvetica, arial, trebuchet ms, sans-serif;
  font-size: 13px;
  min-width: 420px;
  max-width: 420px;
  min-height: 500px;
  max-height: 500px; }

#header {
  background-color: #262626;
  background-image: -webkit-linear-gradient(135deg, transparent, transparent 25%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(135deg, transparent, transparent 25%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 15px 15px;
  position: relative;
  border-bottom: 1px solid black;
  padding: 10px; }

h2 {
  position: relative;
  text-align: center;
  font-weight: lighter; }

#header img {
  position: absolute;
  left: 372;
  top: 7; }

#stay {
  visibility: visible; }

#mid {
  visibility: hidden; }

#jump {
  visibility: hidden; }

#mid2 {
  visibility: hidden; }

canvas {
  position: absolute;
  width: 40;
  height: 40;
  left: 367;
  top: 2; }

.circle {
  background-color: #111111;
  max-width: 40;
  max-height: 40;
  min-height: 40;
  min-width: 40;
  border-radius: 20;
  position: absolute;
  left: 367;
  top: 2;
  box-shadow: 0 0 12px #111111; }

.circle-overlay {
  max-width: 40;
  max-height: 40;
  min-height: 40;
  min-width: 40;
  border-radius: 20;
  position: absolute;
  left: 367;
  top: 2;
  background: linear-gradient(to bottom, transparent 5%, rgba(102, 192, 244, 0.2) 95%); }

.overlay {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.1) 0, rgba(220, 220, 220, 0.1) 35%, rgba(40, 40, 40, 0.1) 80%, rgba(0, 0, 0, 0.2) 100%);
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0, rgba(220, 220, 220, 0.1) 35%, rgba(40, 40, 40, 0.1) 80%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0, rgba(220, 220, 220, 0.1) 35%, rgba(40, 40, 40, 0.1) 80%, rgba(0, 0, 0, 0.2) 100%); }

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  visibility: hidden; }
  .arrow.up {
    border-bottom: 7px solid #b0aeac;
    visibility: visible; }
  .arrow.down {
    border-top: 7px solid #b0aeac;
    visibility: visible; }

.popup {
  z-index: 200;
  position: absolute;
  top: 72px;
  left: 140px;
  display: none;
  box-shadow: 0 0 12px #000000; }

.popup-body {
  overflow-x: auto;
  width: 100px;
  max-width: 100px;
  max-height: 80px;
  padding: 6px 0px;
  background-color: #262626; }
  .popup-body p {
    padding: 3px 6px;
    display: block !important;
    text-align: left;
    max-width: none !important; }
    .popup-body p:hover {
      background-color: #1a1a1a; }
    .popup-body p.selected {
      background-color: #4c6b22; }

.popup-footer {
  position: relative;
  clear: both;
  float: none;
  height: 26px;
  width: 100%;
  background-color: #262626; }
  .popup-footer .submit, .popup-footer .dismiss {
    position: absolute;
    top: 4px;
    width: 29%;
    padding: 2px 10px;
    border: 1px solid black;
    cursor: pointer; }
  .popup-footer .submit {
    left: 0; }
  .popup-footer .dismiss {
    right: 0; }

.tabs {
  width: 100%;
  display: inline-block;
  background: #B0AEAC; }

.tab-links:after {
  display: block;
  clear: both;
  content: ''; }

.tab-links li {
  margin: 0px 5px;
  float: left;
  list-style: none; }

.tab-links a {
  padding: 9px 15px;
  display: inline-block;
  background: #B0AEAC;
  color: #262626;
  transition: all linear 0.15s;
  text-decoration: none; }

.tab-links a:hover {
  font-weight: bold;
  color: #262626;
  background: #B0AEAC;
  text-decoration: none; }

li.active a, li.active a:hover {
  font-weight: bold;
  color: #B0AEAC;
  background: #262626;
  text-decoration: none; }

.tab {
  display: none; }

.tab.active {
  display: block; }

#result-header {
  height: 25px;
  color: #B0AEAC;
  background-color: #262626;
  margin-bottom: 1px; }
  #result-header div {
    float: right; }
    #result-header div p {
      display: inline-block;
      cursor: pointer;
      max-width: 60px; }
  #result-header .col {
    border-left: 1px solid #000000;
    text-align: center;
    padding: 4px 0px 0px 10px; }
  #result-header .result-price {
    padding-right: 16px;
    padding-left: 0;
    text-align: right; }
  #result-header .result-name {
    border: none;
    padding-left: 16px;
    float: none;
    text-align: left; }
  #result-header .result-genre {
    margin-right: 18px; }

.result-price {
  width: 50px;
  text-align: right; }
  .result-price del {
    color: #888888; }

.result-discount, .result-metascore {
  margin-right: 5px; }

.result-genre {
  margin-right: 10px; }

.result-row {
  display: block;
  border: 1px solid;
  height: 58px;
  text-decoration: none;
  position: relative;
  margin-bottom: 1px;
  color: #b0aeac; }
  .result-row .col {
    text-decoration: none; }
  .result-row.even {
    background-color: #1f1f1f;
    border-color: #1f1f1f; }
  .result-row.odd {
    background-color: #1a1a1a;
    border-color: #1a1a1a; }
  .result-row .result-price, .result-row .result-discount, .result-row .result-metascore, .result-row .result-genre {
    float: right;
    padding: 4px 0px 0px 8px;
    margin-left: 10px;
    margin-top: 18px; }
  .result-row .result-genre {
    min-width: 60px;
    max-width: 60px; }
    .result-row .result-genre p {
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .result-row .result-discount {
    margin-right: 12px; }
  .result-row .result-price {
    margin-left: 1px;
    margin-top: 9px;
    padding-right: 16px; }
  .result-row .result-metascore {
    min-width: 16px;
    font-weight: bold;
    color: #8BC53F;
    margin-right: 30px; }
    .result-row .result-metascore.unavailable {
      color: #464646; }
  .result-row .result-name {
    margin: 14px 14px 0 153px; }
    .result-row .result-name h4 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .result-row .result-capsule {
    position: absolute;
    top: 8px;
    left: 16px; }
    .result-row .result-capsule img {
      height: 45px;
      width: 120px; }
  .result-row:hover {
    border: 1px solid #8bb9e0;
    text-decoration: none; }
