@import "steam.scss";

* {
	margin:0;
	padding:0;
}

html {
	background: $background-content;
	min-width: 420px;
	max-width: 420px;
	min-height: 500px;
	max-height: 500px;
	
}

#header, #content, #footer {
	
	color: $textcolor-content;
	font-family: $font-family;
	font-size: 13px;
	
}

#header {
	background-color: $background-column;
    background-image: -webkit-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.05) 25%,
                      hsla(0,0%,0%,.05) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.05) 75%,
                      hsla(0,0%,0%,.05));
    background-image: linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-size: 15px 15px;
	position: relative;
	border-bottom: 1px solid black;
	padding: 10px;
}

	h2 {
		position: relative;
		text-align: center;
		font-weight: lighter;
	}	
	
	#header img {
	 position: absolute;
	 	left: 372;
	 	top: 7;
	}

	#stay {
		visibility: visible;
	}

	#mid{
		visibility: hidden;
	}

	#jump {
		visibility: hidden;
	}

	#mid2{
		visibility: hidden;
	}

	canvas {
		position: absolute;
		width: 40;
		height: 40;
		left: 367;
		top: 2;
		//z-index: 6;
	}


.circle {
		background-color: #111111;
		max-width: 40;
		max-height: 40;
		min-height: 40;
		min-width: 40;
   		border-radius: 20;
   		position: absolute;
   		left: 367;
   		top: 2;
   		box-shadow: 0 0 12px #111111;
	}

	.circle-overlay {
		max-width: 40;
		max-height: 40;
		min-height: 40;
		min-width: 40;
   		border-radius: 20;
   		position: absolute;
   		left: 367;
   		top: 2;
   		background: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(102,192,244,0.2) 95%);
	}


.overlay {
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:100%;
	background: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.1) 0, rgba(220,220,220,0.1) 35%, rgba(40,40,40,0.1) 80%, rgba(0,0,0,0.2) 100%);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,0.1) 0, rgba(220,220,220,0.1) 35%, rgba(40,40,40,0.1) 80%, rgba(0,0,0,0.2) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,0.1) 0, rgba(220,220,220,0.1) 35%, rgba(40,40,40,0.1) 80%, rgba(0,0,0,0.2) 100%);
}

.arrow {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	display:inline-block;
	visibility:hidden;
	
	&.up {
		border-bottom: 7px solid $textcolor-content;
		visibility: visible;
	}
	&.down {
		border-top: 7px solid $textcolor-content;
		visibility: visible;
	}
}

.popup {
	outline: 0;
	z-index: 200;
	position:absolute;
	top: 72px;
	left: 140px;
	display:none;
	box-shadow: 0 0 12px #000000;
}
.popup-body {
	overflow-y:auto;
	width:140px;
	max-width: 140px;
	max-height: 100px;
	padding: 6px 0px;
	background-color: $background-column;
	p {
		padding: 3px 6px;
		display: block !important;
		text-align: left;
		max-width: none !important;
		&:hover {
			background-color:$background-row-odd;
		}
		&.selected{ 
			background-color:$background-green;
		}
	}
}
.popup-footer {
	position: relative;
	clear:both;
	float:none;
	height: 26px;
	width:100%;
	background-color: $background-column;
	.dismiss {
		position: absolute;
		top: 4px;
		width:85%;
		padding: 2px 10px;
		border: 1px solid black;
		cursor: pointer;
		-webkit-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
		-moz-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
		box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
	}

}
.tabs {
    width:100%;
    display:inline-block;
    background: $textcolor-columns;
}

.tab-links:after {
    display:block;
    clear:both;
    content:'';
}
 
.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}
 
.tab-links a {
    padding:9px 15px;
    display:inline-block;
    background:$textcolor-columns;
    color: $background-column;
    transition:all linear 0.15s;
    text-decoration:none;
}
 
.tab-links a:hover {
    font-weight: bold;
	color: $background-column;
    background: $textcolor-columns;
    text-decoration:none;
}
 
li.active a, li.active a:hover {
    font-weight: bold;
    color:$textcolor-columns;
    background: $background-column;
    text-decoration:none;
}
 
.tab {
    display:none;
}
 
.tab.active {
    display:block;
}

#result-header {
	height: 25px;
	color:$textcolor-columns;
	background-color:$background-column;
	margin-bottom: 1px;
	div {
		float:right;
		p {
			display:inline-block;
			cursor:pointer;
			max-width: 60px;
		}
	}
	.col {
		border-left: 1px solid #000000;
		text-align: center;
		padding: 4px 0px 0px 10px;
	}
	.result-price {
		padding-right: 16px;
		padding-left:0;
		text-align:right;
	}
	.result-name {
		border:none;
		padding-left:16px;
		float:none;
		text-align: left;
	}
	.result-usertags {
		margin-right:18px;
	}
}
	
.result-price {
	width: 50px;
	text-align: right;
	del {
		color:$textcolor-oldprice;
	}
}

.result-discount, .result-urc {
	margin-right:5px;
}

.result-usertags {
	margin-right: 10px;
}

.result-row {
	display:block;
	border: 1px solid;
	height: 58px;
	text-decoration:none;
	position: relative;
	margin-bottom: 1px;
	color: $textcolor-content;
	.col {
		text-decoration: none;
	}
	&.even {
		background-color: $background-row-even;
		border-color: $background-row-even;
	}
	&.odd {
		background-color: $background-row-odd;
		border-color: $background-row-odd;
	}
	.result-price, .result-discount, .result-urc, .result-usertags {
		float: right;
		padding: 4px 0px 0px 8px;
		margin-left: 10px;
		margin-top: 18px;
	}
	.result-usertags {
		min-width:60px;
		max-width: 60px;
		p {
			text-align: left;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	.result-discount {
		margin-right:12px;
	}
	.result-price {
		margin-left: 1px;
		margin-top:9px;
		padding-right:16px;
	}
	.result-urc {
		min-width:16px;
		font-weight: bold;
		color: $textcolor-urc;
		margin-right:30px;
		&.unavailable, &.mixed {
			color: #FFCC00;
		}
		&.negative {
			color: #D11919;
		}
	}
	.result-name {
		margin: 14px 14px 0 153px;
		h4 {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	.result-capsule {
		position:absolute;
		top:8px;
		left:16px;
		img {
			height: 45px;
			width: 120px;
		}
	}

	&:hover {
		border: 1px solid #8bb9e0;
		text-decoration: none;
	}
}
