@import "steam.scss";
/* @import "selectize.scss"; */
@import "select2.scss";
@import "select.scss";

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
      border-radius:2px;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
      border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: $background-color;
    border-radius: 10px;
  }
}

@include scrollbars(0.7em, #DDD, #FFF);



/* select customization */
ui-select-container, ui-select-multiple {
    background-color: $background-column;
}

.select2-choices {
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  border: 1px solid #555 !important;
  height: 34px;
  padding-left: 7px !important;
  font-size: 14px;
  color: white;
  background: $background-column !important;
  background-color: $background-column;

}

.ui-select-dropdown{
    color: white;
    background-color: rgb(38, 38, 38);
}

.ui-select-choices-row:hover {
    background:#161616;
}

input:disabled::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #666;
}

/* .select2-drop-active {
    border: 1px solid #5897fb;
    border: 1px solid #777;
} */

.select2-search-field {
    background-color: $background-column;
}

.ui-grid-filter-container:not(:only-child) {
    max-width: 40%;
    display: inline-block;
    padding: 4px 2px !important;
}

.ui-grid-column-menu-button-last-col {
    margin-right: 12px !important;
}

* {
    margin:0;
    padding:0;
}

html {
    //background: $background-content;
    background: #DDD;
    min-width: 420px;
    /* max-width: 420px; */
    min-height: 500px;
    height: 100%;
    /* max-height: 500px; */
    overflow-y:hidden;
}

#header, #content, #footer {
    
    color: $textcolor-content;
    font-family: $font-family;
    font-size: 13px;
    
}

#grid-parent {
    position:absolute;
    top:45px;
    bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding: 0;
    border-width: 0;
}

.grid {
    left:0;
    top:0;
    border:none !important;
    font-family: $font-family;
    min-width: 420px;
    /* max-width: 420px; */
    min-height: 500px;
    height: 100%;
    overflow-y:scrollbars;
    /* max-height: 500px; */
    &.dark {
        input[type="text"].ui-grid-filter-input {
            color: $textcolor-content;
            border: 1px solid black;
            background: $background-row-odd !important;
            
            &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color:$textcolor-oldprice;
            }
        
        }
        
        & {
            color: $textcolor-content;
            background: $background-row-odd;
            @include scrollbars(0.7em, mix($background-column, white, 75%), $background-column);
        }
        .ui-grid-row {
            &:nth-child(odd) .ui-grid-cell { 
                background-color: $background-row-odd !important;
                border-color: $background-row-odd !important;
            }
            &:nth-child(even) .ui-grid-cell {
                background-color: $background-row-even !important;
                border-color: $background-row-even !important;
            }

            .red {
                    color: rgba(255, 50, 0, 0.6) !important;
                }
                .yellow {
                    color: rgba(255, 255, 0, 0.6) !important;
                }
                .green {
                    color: rgba(0, 255, 0, 0.6) !important;
                }
        }
        .ui-grid-header {
            border: black;
            .ui-grid-header-canvas {
                background: $background-column !important;
            }
           .ui-grid-header-cell {
                background-color: $background-column !important;
                border-color: $background-row-odd !important;
                &:last-child .ui-grid-column-resizer.right{
                    border:none !important;
                }
            } 
        }
        .ui-grid-menu-mid {
            border: 1px solid black !important;
            .ui-grid-menu-inner{
                border: black;
                .ui-grid-menu-items {
                    button {
                        color: $textcolor-content;
                       background-color: $background-column !important;
                        border-color: $background-row-odd !important; 
                    }
                }
            }
        }
         .ui-grid-menu-button {
            border: 1px solid black !important;
            background: $background-column !important;
         }
        
    }

    .ui-grid-row {
        .red {
            background-color: rgba(255, 0, 0, 0.3) !important;
        }
        .yellow {
            background-color: rgba(255, 255, 0, 0.3) !important;
        }
        .green {
            background-color: rgba(0, 255, 0, 0.3) !important;
        }
    }
}

#header {
    background-color: $background-column;
    background-image: -webkit-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.05) 25%,
                      hsla(0,0%,0%,.05) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.05) 75%,
                      hsla(0,0%,0%,.05));
    background-image: linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-size: 15px 15px;
    position: relative;
    border-bottom: 1px solid black;
    padding: 10px;
}

    h2 {
        position: relative;
        text-align: center;
        font-weight: lighter;
        pointer-events:none;
    }   
    
    #header img {
        position: absolute;
        /* left: 372px; */
        top: 6px;
        left: 4px;
    }

    #stay {
        visibility: visible;
    }

    #mid{
        visibility: hidden;
    }

    #jump {
        visibility: hidden;
    }

    #mid2{
        visibility: hidden;
    }

    canvas {
        position: absolute;
        width: 40px;
        height: 40px;
        /* left: 367px;*/
        right: 0px;
        top: 0px;
        //z-index: 6;
    }

#search{
    display:block;
    width: 100%;
    box-sizing: border-box;
    border-collapse: separate;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #555;
    border-bottom: none;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: $background-column;
    background-image: none;
}

#tags {
    display:block;
    margin: 0;
    border-collapse: separate;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    font-size: 14px;
    line-height: 1.42857143;
}

.circle {
        background-color: #111111;
        max-width: 40px;
        max-height: 40px;
        min-height: 40px;
        min-width: 40px;
        border-radius: 20px;
        position: absolute;
        /* left: 367px; */
        right: 10px;
        top: 2px;
        box-shadow: 0 0 12px #111111;
    }

    .circle-overlay {
        max-width: 40px;
        max-height: 40px;
        min-height: 40px;
        min-width: 40px;
        border-radius: 20px;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(102,192,244,0.2) 95%);
    }


.overlay {
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:100%;
    background: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.1) 0, rgba(220,220,220,0.1) 35%, rgba(40,40,40,0.1) 80%, rgba(0,0,0,0.2) 100%);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0.1) 0, rgba(220,220,220,0.1) 35%, rgba(40,40,40,0.1) 80%, rgba(0,0,0,0.2) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0.1) 0, rgba(220,220,220,0.1) 35%, rgba(40,40,40,0.1) 80%, rgba(0,0,0,0.2) 100%);
    pointer-events:none;
}

.arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display:inline-block;
    visibility:hidden;
    
    &.up {
        border-bottom: 7px solid $textcolor-content;
        visibility: visible;
    }
    &.down {
        border-top: 7px solid $textcolor-content;
        visibility: visible;
    }
}

.popup {
    outline: 0;
    z-index: 200;
    position:absolute;
    top: 72px;
    left: 140px;
    display:none;
    box-shadow: 0 0 12px #000000;
}
.popup-body {
    overflow-y:auto;
    width:140px;
    max-width: 140px;
    max-height: 100px;
    padding: 6px 0px;
    background-color: $background-column;
    p {
        padding: 3px 6px;
        display: block !important;
        text-align: left;
        max-width: none !important;
        &:hover {
            background-color:$background-row-odd;
        }
        &.selected{ 
            background-color:$background-green;
        }
    }
}
.popup-footer {
    position: relative;
    clear:both;
    float:none;
    height: 26px;
    width:100%;
    background-color: $background-column;
    .dismiss {
        position: absolute;
        top: 4px;
        width:85%;
        padding: 2px 10px;
        border: 1px solid black;
        cursor: pointer;
        -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
        box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
    }

}
.tabs {
    width:100%;
    display:inline-block;
    background: $textcolor-columns;
}

.tab-links:after {
    display:block;
    clear:both;
    content:'';
}
 
.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}
 
.tab-links a {
    padding:9px 15px;
    display:inline-block;
    background:$textcolor-columns;
    color: $background-column;
    transition:all linear 0.15s;
    text-decoration:none;
}
 
.tab-links a:hover {
    font-weight: bold;
    color: $background-column;
    background: $textcolor-columns;
    text-decoration:none;
}
 
li.active a, li.active a:hover {
    font-weight: bold;
    color:$textcolor-columns;
    background: $background-column;
    text-decoration:none;
}
 
.tab {
    display:none;
}
 
.tab.active {
    display:block;
}

#result-header {
    height: 25px;
    color:$textcolor-columns;
    background-color:$background-column;
    margin-bottom: 1px;
    div {
        float:right;
        p {
            display:inline-block;
            cursor:pointer;
            max-width: 60px;
        }
    }
    .col {
        border-left: 1px solid #555;
        text-align: center;
        padding: 4px 0px 0px 10px;
    }
    .result-price {
        padding-right: 8px;
        padding-left:0;
        text-align:right;
    }
    .result-name {
        border:none;
        padding-left:16px;
        position: absolute;
        text-align: left;
    }
    .result-usertags {
        margin-right:40px;
    }
}
    
.result-price {
    padding-right: 8px;
    text-align: right;
    del {
        color:$textcolor-oldprice;
    }
}

.result-discount, .result-urc {
    margin-right:5px;
    text-align: right;
}

.result-usertags {
    overflow-y: scroll !important;
    &::-webkit-scrollbar {
          width:  0.5em !important;
          }
    ul {
        overflow-y: hidden;
        overflow-x: hidden;
        li {
            white-space: nowrap;
            
            
            text-overflow: ellipsis;
        }
    }
    
}

.result-row {
    display:block;
    border: 1px solid;
    height: 58px;
    text-decoration:none;
    position: relative;
    margin-bottom: 1px;
    color: $textcolor-content;
    .col {
        text-decoration: none;
    }
    &.even {
        background-color: $background-row-even;
        border-color: $background-row-even;
    }
    &.odd {
        background-color: $background-row-odd;
        border-color: $background-row-odd;
    }
    .result-price, .result-discount, .result-urc, .result-usertags {
        float: right;
        padding: 4px 0px 0px 8px;
        margin-left: 10px;
        margin-top: 18px;
        min-width: 28px;
    }
    .result-usertags {
        min-width:60px;
        max-width: 60px;
        p {
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .result-discount {
        margin-right:12px;
    }
    .result-price {
        margin-left: 1px;
        margin-top:9px;
        padding-right:16px;
    }
    .result-urc {
        min-width:32px;
        font-weight: bold;
        color: $textcolor-urc;
        margin-right:10px;
        &.unavailable, &.mixed {
            color: #FFCC00;
        }
        &.negative {
            color: #D11919;
        }
    }
    .result-name {
        margin: 14px 14px 0 153px;
        h4 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .result-capsule {
        position:absolute;
        top:8px;
        left:16px;
        height: 45px;
        width: 120px;
        
    }

    &:hover {
        border: 1px solid #8bb9e0;
        text-decoration: none;
    }
}

#wishlist-icon {
    color: #777;
    i {
        top: 5px;
        font-size : 32px;
        position: absolute;
    }

    .ion-heart {
        font-size: 16px;
        top: 17px;
        left: 16px;
    }
}

#user-icon i {
    color: #777;
    top: 5px;
    left: 50px;
    font-size : 32px;
    position: absolute;
}

.icon-row {
    position:absolute;
    top: 0;
    left: 0;
    height: 45px;
    span {
        position:relative;
    }
    i {
        padding: 10px 4px;
    }

    .button-background {
        background-color: #111111;
        
        border-radius: 10px;
        /* left: 367px; */
        box-shadow: 0 0 12px #111111;
    
    }
}

#darkmode-icon {
    i {
        color: #777;
        top: 5px;
        left: 50px;
        font-size : 32px;

        &:before{
            padding-top: 7px;
        }
    }
    
}

/* i:active::before {
    -webkit-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.75);
} */

#change-view-icon i {
    color: #777;
    font-size : 20px;
    position: relative;
    float : left;
    pointer-events:auto;
}

