<!DOCTYPE html>
<html ng-app="SteamPiggyBank">
    <head>
        <link rel="stylesheet" href="css/popup.css">

        <script src="scripts/lib/ga.js"></script>
        <script src="scripts/lib/jquery-2.1.1.min.js"></script>
        <script src="scripts/lib/angular.min.js"></script>
        <script type="text/javascript" src="scripts/lib/ui-utils-0.2.3/ui-utils.min.js"></script>

        <script type="text/javascript" src="scripts/lib/select.min.js"></script>
        
        <script src="scripts/app/app.js"></script>
        <script src="scripts/app/service.js"></script>
        <script src="scripts/app/controller.js"></script>

        <style>

        .select2 > .select2-choice.ui-select-match {
          /* Because of the inclusion of Bootstrap */
          height: 29px;
        }

        .selectize-control > .selectize-dropdown {
          top: 36px;
        }
      </style>
    </head>
    <body ng-controller="PopupController">
        <div id="header">
            <h2>Steam Piggy Bank</h2>
            <div class="overlay"></div>
            <div id="pigCircle" class="circle"></div>
            <div class="circle-overlay"></div>
            <canvas id="canvas" width="40" height="40">Your browser does not support the canvas element.</canvas>
            <img id="stay" src="img/loadingPigStay.png">
            <img id="mid" src="img/loadingPigMid.png">
            <img id="jump" src="img/loadingPigJump.png">
            <img id="mid2" src="img/loadingPigMid.png">
        </div>

        <header>
           <input type="search" placeholder="Search" id="search" ng-model="query[queryBy]" ng-disabled="isLoading('appitems')" ng-click="track('search')">
           <!-- <img ng-click="authorize();" src="img/sits_01.png"> -->
            <ui-select id="tags" multiple ng-model="tags.active" limit="5" close-on-select="false" theme="select2" ng-disabled="isLoading('tags')" ng-click="track('tags')">
                <ui-select-match placeholder=" Select Tags...">{{$item}}</ui-select-match>
                <ui-select-choices repeat="tag in tags.unique | filter:$select.search">
                    {{tag}}
                </ui-select-choices>
            </ui-select>
        </header>

        <div id="result-header">
            <div class="col result-price" ng-click="changeOrder('finalpricesize');">
                <p>Price</p>
                <span class='arrow' ng-class='{"down" : orderExp === "finalpricesize" && orderReverse === false, "up" : orderExp === "finalpricesize" && orderReverse === true}'></span>
            </div>
            <div class="col result-discount" ng-click="changeOrder('discount', true);">
                <p>Discount</p>
                <span class='arrow' ng-class='{"down" : orderExp === "discount" && orderReverse === true, "up" : orderExp === "discount" && orderReverse === false}'></span>
            </div>
            <div class="col result-urc" title ="User Review Score" ng-click="changeOrder('urcScore');">
                <p>URC</p>
                <span class='arrow' ng-class='{"down" : orderExp === "urcScore" && orderReverse === false, "up" : orderExp === "urcScore" && orderReverse === true}'></span>
            </div>
            <div class="col result-usertags">
                <p>Tags</p>
                <span class='arrow'></span>
                <div class="popup" tabindex="-1">
                    <div class="popup-body">
                        <p>No Tags yet</p>
                    </div>
                    <div class="popup-footer">
                        <div class="dismiss">Clear</div>
                    </div>
                </div>
            </div>
            <div class="col result-name" ng-click="changeOrder('name');">
                <p>Title</p>
                <span class='arrow' ng-class='{"down" : orderExp === "name" && orderReverse === false, "up" : orderExp === "name" && orderReverse === true}'></span>
            </div>
        </div>

        <div id="result-content">
            <a href="" ng-repeat="app in appItems.filtered | filter:query | orderBy : orderExp : orderReverse | unique : 'name' | limitTo:displayLimit" class="result-row" ng-class-even="'even'" ng-class-odd="'odd'" ng-href="{{app.url}}" ng-attr-title="{{app.name}}" ng-click="onAppClick(app, $event)">
                <div class="col result-price">
                    <p><del>{{app.originalprice}}</del></p>
                    <p>{{app.finalprice}}</p>
                </div>
                <div class="col result-discount"><span ng-if="app.discount > 0">-{{app.discount}}%</span></div>
                <div class="col result-urc" ng-attr-title="{{app.urcText}}">{{app.urcPercent}}</div>
                <div class="col result-usertags">{{app.userTags[0]}}</div>
                <div class="col result-capsule">
                    <!-- <img ng-if="app.appid && app.appid.indexOf(',') === -1" ng-src="http://cdn.akamai.steamstatic.com/steam/apps/{{app.appid}}/header.jpg">
                    <img ng-if="app.packageid && (isNaN(appItem.appid) || app.appid.indexOf(',') > -1)" ng-src="http://cdn.akamai.steamstatic.com/steam/subs/{{app.packageid}}/header.jpg"> -->
                    <img ng-src="{{app.imageUrl}}">
                </div>
                <div class="col result-name">
                </div>
            </a>
        </div>

        <!-- <script src="scripts/test.js"></script> -->
    </body>
</html>